<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Allan Feid" />
    <title>{{ page.title }}</title>
    <link href="/static/github.css" rel="stylesheet" type="text/css" >
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1><a href="/">Optopus</a></h1>
    </header>
    <section>
      <h2>{{ page.title }}</h2>
      {{ content }}
    </section>
  </body>
  <script src="/static/highlight.min.js" type="text/javascript"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</html>
